@page
@using ESS.Areas.Identity.Pages.Account
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}

<div class="row align-items-center justify-content-center">
    <div class="col-md-8 col-lg-6 col-xl-5">
        <div class="card">

            <div class="card-body p-4">
                <div class="text-center mt-2">
                    <h5 class="text-primary">ESS Portal</h5>
                    <p class="text-muted">Logout page.</p>
                </div>
                <div class="p-2 mt-4">

                    <!--Start-->

                    <header>
                        @{
                            if (User.Identity?.IsAuthenticated ?? false)
                            {
                                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                                    <div class="text-center">
                                        <button type="submit" class="btn btn-outline-danger">Click here to Logout</button>
                                    </div>
                                </form>
                            }
                            else
                            {
                                <p>You have successfully logged out of the application.</p>
                            }
                        }
                    </header>

                    <!--End-->
                </div>

            </div>
        </div>

        <div class="mt-5 text-center">
            <p>© <script>document.write(new Date().getFullYear())</script> DEFT TECHNOLOGIES</p>
        </div>

    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

