@{
    /*
     * if (ViewData.TryGetValue("ParentLayout", out var parentLayout) && parentLayout != null)
        {
        Layout = parentLayout.ToString();
    }
        else
        {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
    */

    Layout = "/Views/Shared/_Layout.cshtml";

}

<div>
    <h2></h2>
    <h5 class="text-primary">Manage your login account</h5>
    <p class="text-muted">Change your account settings</p>
    <div class="row">
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
