@using ESS.Models;

@{
    IEnumerable<DeftOData.DEFT_PayPeriod> AccountingPeriods = ViewBag.PayPeriods;
    string SiteURL = ViewBag.SiteURL;
}

@section AppStyles {
    <link href="~/assets/libs/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
}
<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <!--Start of Page Title-->
            <h4 class="mb-0">Pay Slip</h4>
            <!--End of Page Title-->
            <!--Start of Breadcrumb-->
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);"></a> ESS</li>
                    <li class="breadcrumb-item"></a>HR Reports</li>
                    <li class="breadcrumb-item active">Pay Slip</li>
                </ol>
            </div>
            <!--End of Breadcrumb-->
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12 col-xl-12">
        <div class="card">
            <div class="card-body">
                <h6 class="card-title mb-2">Generate Pay slip</h6>
                <form asp-action="DownloadPayslip" method="get">

                    <div class="row">
                        <div class="col-lg-3 m-0">
                            <label>Select a Pay Period</label>
                            <select id="period" name="Period" class="form-control">
                                @foreach (var period in AccountingPeriods)
                                {
                                    <option value="@period.Starting_Date">@period.Name (@period.Starting_Date)</option>
                                }
                            </select>
                        </div>

                        <!--
                        <div class="col-lg-2">
                            <label>&nbsp;&nbsp;</label>
                            <button type="button" onclick="print_pdf()" class="btn btn-secondary form-control">Print <i class="fa fa-file-open"></i></button>
                        </div>
                        -->

                        <div class="col-lg-2">
                            <label>&nbsp;&nbsp;</label>
                            <button type="submit" class="btn btn-secondary form-control">Preview Payslip <i class="fa fa-file-open"></i></button>
                        </div>
                        <div class="offset-lg-3 col-lg-3">
                            <label>&nbsp;</label>
                            <!--<button onclick="#" class="btn btn-outline-secondary float-end form-control"> Take a Tour of the Statement</button>-->
                        </div>
                    </div>

                    <div style="height: 700px; width: 100%;"></div>

                </form>
            </div><!-- end card body -->


        </div><!-- end card -->
    </div><!-- end col -->
</div><!-- end row -->
@section AppScripts {
    <!-- plugins -->
    <script src="~/assets/libs/select2/js/select2.min.js"></script>

    <script src="~/assets/printjs/print.min.js"></script>

    @{
        string url = SiteURL + "Reports/DownloadPayslip?Period=";
    }

    <script>
        function print_pdf() {

            var period = $('#period option:selected').val();

            var url = '@url' + period;

            printJS({ printable: url, type: 'pdf', showModal: true, modalMessage: 'Retrieving Payslip...' });
        }
    </script>
}
